<div class="edit-author-container">
    <h2>Edit Author</h2>
    <form (ngSubmit)="editAuthor()" #authorForm="ngForm">
      <div class="form-group">
        <label for="firstName">First Name</label>
        <input 
          type="text" 
          id="firstName" 
          name="firstName" 
          [(ngModel)]="author.firstName" 
          required
          class="form-control"
          #firstName="ngModel">
        <div *ngIf="firstName.invalid && (firstName.dirty || firstName.touched)" class="error-message">
          First name is required
        </div>
      </div>
  
      <div class="form-group">
        <label for="lastName">Last Name</label>
        <input 
          type="text" 
          id="lastName" 
          name="lastName" 
          [(ngModel)]="author.lastName" 
          required
          class="form-control"
          #lastName="ngModel">
        <div *ngIf="lastName.invalid && (lastName.dirty || lastName.touched)" class="error-message">
          Last name is required
        </div>
      </div>
  
      <div class="button-group">
        <button type="submit" [disabled]="!authorForm.valid" class="btn-save">Save</button>
        <button type="button" routerLink="/author" class="btn-cancel">Cancel</button>
      </div>
    </form>
  </div>